@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.nav1 {
    height: 80px;
    background-color: white;
    text-decoration: none;
}

.logo {
    width: 80px;
    display: flex;
    flex-direction: row;
}

.logodiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    text-decoration: none;
}

.logop {
    text-decoration: none;
    color: #1282A2;
    font-family: "Laila", serif;
    font-size: 20px;
}